.about__wood {
  margin: 40px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about__wood__cards {
  display: flex;
}

.about__wood__title {
  height: 109px;
  display: flex;
  align-items: center;
  color: #333333;
  font-family: "Futura PT";
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 0.76px;
  line-height: 60px;
  text-align: center;
}
.about__wood__card {
  display: flex;
  align-items: center;
  position: relative;
  .card__image__container {
    max-width: 642px;
    width: 100%;
    position: relative;
    img {
      object-fit: cover;
      max-width: 642px;
      width: 100%;
      height: 500px;
    }
    .card__image__arrows {
      position: absolute;
      right: 0;
      bottom: 0;
      background: white;
      height: 45px;
      max-width: 88px;
      width: 100%;
      display: flex;
      .arrows__left,
      .arrows__right {
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer;
        transition: all 0.15s;
        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }
      .left__arrow,
      .right__arrow {
        position: absolute;
        height: 9px;
        width: 9px;
        top: 17px;
        left: 9px;
        border: 2px solid #333333;
        border-top: none;
        border-left: none;
        margin-left: 10px;
      }
      .left__arrow {
        transform: rotate(133deg);
      }
      .right__arrow {
        left: 5px;
        transform: rotate(-45deg);
      }
    }
  }
}

.card__right {
  margin-left: 80px;
  max-width: 460px;
  width: 100%;
  .card__right__title {
    position: relative;
    .title__absolute__number {
      position: absolute;
      top: -120px;
      left: -20px;
      z-index: -1;
      opacity: 0.2;
      color: #c39f71;
      font-family: "Futura PT";
      font-size: 170px;
      font-style: oblique;
      font-weight: 500;
      letter-spacing: 4.25px;
      line-height: 218px;
    }

    .title__text {
      color: #1d1f22;
      font-family: "Futura PT";
      font-size: 1.5rem;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 3px;
      line-height: 24px;
    }
  }
  .card__right__desc {
    margin-top: 20px;
    max-width: 460px;
    width: 100%;
    color: #666666;
    font-family: "Futura PT";
    font-size: 1.2rem;
    font-weight: 350;
    letter-spacing: 0.47px;
    line-height: 32px;
  }
}

.about__wood__pdf-link {
  display: flex;
  cursor: pointer;
  margin: 50px 0;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 13px;
    height: 4px;
    width: 4px;
    transform: rotate(-45deg);
    border: 2px solid #5a5a5a;
    border-top: none;
    border-left: none;
  }
  img {
    margin-right: 15px;
  }
  a {
    text-decoration: none;
    color: #333333;
    font-family: "Futura PT";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 32px;
  }
}
