.features {
  min-height: 734px;
  max-width: 1171px;
  width: 100%;
  margin: 50px auto;
  .features__title {
    height: 60px;
    max-width: 844px;
    width: 100%;
    color: #333333;
    font-family: "Futura PT";
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0.76px;
    line-height: 60px;
    text-align: center;
    margin: 50px auto;
  }
}
.features__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .feature__card {
    display: flex;
    max-width: 570px;
    margin: 20px 5px;
    width: 100%;
    .feature__left {
      margin-right: 40px;
      p {
        margin-top: 15px;
      }
      img {
        width: 50px;
      }
    }
    .right__top__title {
      color: #1d1f22;
      font-family: "Futura PT";
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 3px;
      line-height: 24px;
    }

    .right__middle__desc {
      color: #666666;
      font-family: "Futura PT";
      font-size: 19px;
      font-weight: 300;
      letter-spacing: 0.47px;
      line-height: 32px;
    }

    .read-more,
    .read-less {
      color: #565656;
      width: fit-content;
      font-family: "Futura PT";
      font-size: 19px;
      font-weight: 300;
      letter-spacing: 0.47px;
      line-height: 32px;
      cursor: pointer;
      position: relative;
      &:hover {
        color: #333333;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 8px;
        left: 0;
        width: 100%;
        height: 1px;
        background: gray;
      }
      .readmore__dropdown {
        position: absolute;
        height: 8px;
        width: 8px;
        top: 11px;
        transform: rotate(45deg);
        border: 2px solid #333333;
        border-top: none;
        border-left: none;
        margin-left: 10px;
      }
    }
  }
}

.read-less .readmore__dropdown {
  transform: rotate(226deg) !important;
  top: 15px !important;
}
