.header {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 100px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  .header__left {
    img {
      object-fit: contain;
      width: 120px;
    }
  }
  .header__middle {
    nav a:nth-child(1) {
      animation: opacityAnim 1s;
    }
    nav a:nth-child(2) {
      animation: opacityAnim 2s;
    }
    nav a:nth-child(3) {
      animation: opacityAnim 3s;
    }
    nav a:nth-child(4) {
      animation: opacityAnim 4s;
    }
    nav a:nth-child(5) {
      animation: opacityAnim 5s;
    }
    nav {
      text-transform: uppercase;
      font-size: 1.2rem;
      a {
        text-decoration: none;
        color: #727272;
        margin: 0 15px;
        font-family: "Futura PT";
        font-weight: 500;
        letter-spacing: 3.9px;
        line-height: 16px;
        transition: all 0.15s;
        &:hover {
          color: #101010;
        }
      }
    }
  }
}

.header__languages {
  button {
    display: none;
  }
  ul li {
    display: inline-block;
    font-size: 1.2rem;
    margin: 6px;
    cursor: pointer;
    color: gray;
    &:hover {
      color: black;
    }
    p {
      letter-spacing: 3px;
    }
  }
  p:nth-child(1) {
    animation: opacityAnim 6s;
  }
  p:nth-child(2) {
    animation: opacityAnim 7s;
  }
  p:nth-child(3) {
    animation: opacityAnim 8s;
  }
  p:nth-child(4) {
    animation: opacityAnim 9s;
  }
  p:nth-child(5) {
    animation: opacityAnim 10s;
  }
  .active {
    transition: all 0.35s;
    color: #101010;
    border-bottom: 1px solid black;
  }
}
