.map__container {
  margin: 30px 0;
  #map {
    height: 603px;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
  }
  .map__container__title {
    color: #333333;
    font-family: "Futura PT";
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 0.76px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 40px;
  }
}
