@media (max-width: 1440px) {
  .header,
  .hero {
    padding: 10px;
  }
  .hero {
    flex-direction: column;

    .right__rectangle {
      max-width: 700px;
      width: 100%;
      right: 0 !important;
      height: 160px !important;
      top: -50px;
      box-shadow: 0px 5px 8px 0.1px rgba(0, 0, 0, 0.8);
      flex-direction: row !important;
      .rectangle__inner__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
.hamburger__menu {
  display: none;
}

@media (max-width: 1200px) {
  .uniqueTechnologies {
    margin: 0 !important;
    .uniqueTechnologies__bottom {
      flex-direction: column;
      align-items: center;
      height: auto !important;
      &__left {
        display: flex;
        justify-content: center;
        max-width: 100% !important;
        margin-bottom: 30px;
      }
      &__right {
        justify-content: center !important;
      }
      &__right__img__points {
        height: 100% !important;
      }
      .uniqueTechnologies__dropdown {
        margin: 0 40px !important;
      }
    }
  }

  .features__cards .feature__card .feature__left {
    margin: 20px 0 !important;
  }

  .header {
    left: 0;
    top: 0;
    box-shadow: 0px 2px 5px 0.1px rgba(121, 121, 121, 0.4);
    padding: 20px;
    position: relative;
    background: white;
    z-index: 100;
    .header__right {
      margin-left: auto;
      margin-right: 20px;
    }
    .header__languages {
      z-index: 200;
      position: relative;
      button {
        display: block !important;
        background: none;
        border: 1px solid gray;
        padding: 5px;
        cursor: pointer;
        outline: none;
      }
      ul {
        margin: 5px 0px;
        display: flex;
        flex-direction: column;
        position: absolute;
        background: white;
        overflow: hidden;
        height: 0px;
        width: 100px;
        text-align: center;
        align-items: center;
        transition: all 1s;
        li {
          width: 30%;
        }
      }
      .languages__list.active {
        border: 1px solid gray;
        transition: all 1s;
        height: 152px;
      }
    }

    .hamburger__menu {
      display: block !important;
    }
    .hamburger__menu {
      display: flex;
      flex-flow: column wrap;
      width: 2.5rem;
      cursor: pointer;
    }

    .hamburger__menu .bar {
      height: 3px;
      background: black;
      border-radius: 5px;
      margin: 5px 0px;
      transform-origin: left;
      transition: all 0.5s;
    }

    .hamburger__menu.active .top {
      transform: rotate(45deg) translateX(2px) translateY(-7px);
    }

    .hamburger__menu.active .middle {
      transform: translateX(-70px);
      opacity: 0;
    }

    .hamburger__menu.active .bottom {
      transform: rotate(-45deg) translateY(7px) translateX(1px);
    }
    .header__middle {
      color: rgb(43, 43, 43);
      position: absolute;
      justify-content: center;
      width: 100%;
      top: 100px;
      left: 0;
      text-align: center;
      display: block;
      z-index: 100;
      transition: all 1s;
      height: 0px;
      overflow: hidden;
    }
    .header__middle.active {
      height: 242px;
      transition: all 1s;
      border: 1px solid gray;
    }
    .header__middle__nav {
      background: rgb(219, 219, 219);
      height: fit-content;
      transition: all 2s;
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        padding: 15px;
        border: 1px solid white;
        color: rgb(43, 43, 43);
        transition: all 0.25s;
        width: 100%;
        &:hover {
          background: white;
          color: black;
          border-bottom: 1px solid gray;
        }
      }
    }
  }

  .features__cards {
    justify-content: center !important;
    .feature__card {
      flex-direction: column !important;
      text-align: center;
      .feature__left {
        margin-bottom: 20px;
      }
    }
  }

  .about__wood__card {
    flex-direction: column;
    .card__image__container {
      margin-bottom: 100px;
    }
  }
}

// 944px media query

@media (max-width: 944px) {
  .uniqueTechnologies__bottom__right__img__points {
    height: 100% !important;
  }

  .uniqueTechnologies .uniqueTechnologies__bottom__right__img img {
    object-fit: contain !important;
    height: auto !important;
  }

  .hero .hero__img .hero__img__heading {
    padding: 0 !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
    .text {
      p {
        font-size: 2.8rem !important;
      }
    }
  }
}

// 1024px media query

@media (max-width: 1024px) {
  .actualities__images {
    flex-wrap: wrap;
    justify-content: center;
    img {
      max-width: 800px !important;
    }
  }

  #footer {
    .footer__inner__row-1 {
      flex-direction: column !important;
      nav {
        margin: 20px 0;
      }
    }
  }
}

// 768px media query

@media (max-width: 768px) {
  .uniqueTechnologies .uniqueTechnologies__bottom__left {
    flex-direction: column !important;
  }
  .uniqueTechnologies .uniqueTechnologies__bottom__right__img__points__point {
    width: 30px !important;
    height: 30px !important;
  }
  .hero .hero__img .hero__img__heading {
    padding-bottom: 100px !important;
    .text {
      max-width: 500px !important;
      width: 100%;
      padding: 20px;
      p {
        font-size: 4vw !important;
      }
    }
    .button {
      margin-top: 5px !important;
      button {
        padding: 10px !important;
        font-size: 2vw !important;
      }
    }
  }

  .card__right {
    width: 90% !important;
  }

  #footer {
    padding: 20px 30px !important;
    .footer__inner__row-1 {
      nav {
        display: flex;
        align-items: center;
        flex-direction: column;
        a {
          margin: 0 !important;
        }
      }
    }
  }

  .about__wood__card {
    .card__right {
      margin-left: 0 !important;
    }
  }
  .video img {
    object-fit: cover;
  }

  .hero .right__rectangle {
    height: fit-content !important;
    .rectangle__inner__card {
      h1 {
        font-size: 1.1rem;
      }
      p {
        font-size: 0.8rem !important;
      }
    }
  }

  section {
    padding: 5px;
  }

  .features {
    margin: 0px auto !important;
    .features__title {
      height: 10px !important;
    }
    .right__middle__desc {
      font-size: 16px !important;
      line-height: 23px !important;
    }
    .right__top__title {
      font-size: 24px !important;
      margin-bottom: 8px;
    }
  }
}

@media (max-width: 425px) {
  .uniqueTechnologies
    .uniqueTechnologies__bottom__right__img__points__point.corner {
    left: 15% !important;
    top: 15% !important;
  }
  .uniqueTechnologies
    .uniqueTechnologies__bottom__right__img__points__point.foundationCrown {
    top: 42% !important;
    left: 0% !important;
  }
  .uniqueTechnologies
    .uniqueTechnologies__bottom__right__img__points__point.dovetail {
    top: 7% !important;
    left: 56% !important;
  }
  .uniqueTechnologies
    .uniqueTechnologies__bottom__right__img__points__point.reverseJoint {
    top: 30% !important;
    left: 61% !important;
  }
  .uniqueTechnologies .uniqueTechnologies__bottom__right__img__points__point {
    width: 25px !important;
    height: 25px !important;
  }

  .card__image__container {
    img {
      height: 350px !important;
    }
  }
  .unique__technologies .top-text .title {
    font-size: 1.8rem !important;
    line-height: 40px !important;
  }
  .unique__technologies .top-text .desc {
    font-size: 1.2rem !important;
    line-height: 25px !important;
  }
}

@media (max-width: 375px) {
  .header .header__left img {
    width: 100px !important;
  }
  .hero .hero__img .hero__img__heading {
    padding-bottom: 10px !important;
    .text {
      max-width: 500px !important;
      width: 100%;
      padding: 20px;
      p {
        font-size: 5vw !important;
      }
    }
    .button {
      margin-top: 5px !important;
      button {
        padding: 8px !important;
        font-size: 1.8vw !important;
      }
    }
  }

  .hero {
    .right__rectangle {
      background: none !important;
      box-shadow: none;
      top: 20px !important;
      margin-bottom: 20px;
      height: fit-content;
      flex-direction: column !important;
      .rectangle__inner__card {
        border-radius: 5px;
        transition: all 0.25s;
        background: #34513d;
        margin: 5px 0;
        height: fit-content;
        max-width: 250px !important;
        &:hover {
          box-shadow: 0px 0px 10px 0.1px #1c1c1c;
        }
        h1 {
          font-size: 0.4rem !important;
        }
        p {
          font-size: 0.5rem !important;
        }
      }
    }
  }
  .video .video__playbutton {
    left: 36% !important;
  }

  .actualities__images__left__heading {
    left: 10px !important;
    top: 250px !important;
    .heading__top__text {
      font-size: 1.1rem !important;
    }
    .heading__bottom__text {
      font-size: 1.05rem !important;
    }
  }
}
