.uniqueTechnologies {
  max-width: 1232px;
  width: 100%;
  margin: 97px auto;
  .uniqueTechnologies__top {
    color: #333333;
    font-family: "Futura PT";
    font-weight: 300;
    letter-spacing: 0.76px;
    text-align: center;
    &__title {
      height: fit-content;
      display: grid;
      place-items: center;
      font-size: 42px;
      line-height: 60px;
    }
    &__desc {
      max-width: 844px;
      width: 100%;
      margin: 0 auto;
      color: #666666;
      font-family: "Futura PT";
      font-size: 19px;
      font-weight: 300;
      letter-spacing: 0.47px;
      line-height: 32px;
      text-align: center;
    }
  }
  .uniqueTechnologies__bottom {
    margin: 50px 0;
    display: flex;
    width: 100%;
    height: 608px;
    &__left {
      padding: 20px 0px 0px 60px;
      max-width: 363px;
      width: 100%;
    }
    &__right {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    &__right__img {
      position: relative;
    }
    &__right__img img {
      object-fit: cover;
      height: 500px;
      max-width: 810px;
      width: 100%;
    }
    &__right__img__points {
      position: absolute;
      width: 100%;
      height: 80.5%;
      top: 0;
      &__point {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 38px;
        height: 38px;
        background: #334c3b;
        color: white;
        display: grid;
        place-content: center;
        border-radius: 100%;
        box-shadow: 0px 0px 5px 2px whitesmoke;
        cursor: pointer;
      }
      &__point.corner {
        left: 17% !important;
        top: 15% !important;
      }
      &__point.foundationCrown {
        top: 45% !important;
        left: 1% !important;
      }
      &__point.dovetail {
        top: 8% !important;
        left: 62% !important;
      }
      &__point.reverseJoint {
        top: 30% !important;
        left: 70% !important;
      }
    }

    .uniqueTechnologies__dropdown__title {
      width: fit-content;
      color: #1c1f22;
      font-family: "Futura PT";
      font-size: 22px;
      font-weight: 500;
      letter-spacing: 1.06px;
      line-height: 24px;
      position: relative;
      margin-top: 5px;
      cursor: pointer;
      &:hover {
        color: #3e5235;
      }
      &::before {
        content: "";
        position: absolute;
        width: 20px;
        left: -45px;
        height: 20px;
        border: 2px solid #bfbfbfa4;
        border-radius: 100%;
      }
    }
    .uniqueTechnologies__dropdown__items {
      color: rgb(138, 138, 138);
      font-size: 1.2rem;
      height: 0px;
      margin: 10px 0;
      transition: all 0.6s;
      overflow: hidden;
    }
    .uniqueTechnologies__dropdown__items__item {
      display: block;
      line-height: 32px;
      border-bottom: 1px solid transparent;
      width: fit-content;
      cursor: pointer;
      &:hover {
        color: #3e5235;
        border-bottom: 1px solid #3e5235;
      }
    }
  }
}

.uniqueTechnologies__dropdown__title.kvadratmeter.active,
.uniqueTechnologies__dropdown__title.material.active,
.uniqueTechnologies__dropdown__title.size.active {
  color: #3e5235;
  &::before {
    border-color: #3e5235;
    background: #3e5235;
  }
}
.uniqueTechnologies__dropdown__items.kvadratmeter.active,
.uniqueTechnologies__dropdown__items.material.active,
.uniqueTechnologies__dropdown__items.size.active {
  height: 140px;
  transition: all 0.6s;
}

.uniqueTechnologies__dropdown__items__item.active {
  color: #3e5235 !important;
  border-bottom: 1px solid #3e5235 !important;
}
